---
layout: default
organization: SPSP Sexual Violence Preconference
title: Research Repository
---
<section class="filter">
	<div class="filter__reveal" data-toggle="filter__list__tags" data-revealed="false">Reveal Filters</div>
	<div class="filter__list">
		<div id="filter__list__tags" class="filter__list__tags" data-toggler data-animate="slide-in-down slide-out-up">
			<button class="tag__button" data-tag="all">Show All</button>
			{% for tag in site.data.tags %}
			<button class="tag__button" data-tag="{{tag.label}}">{{tag.label}}</button>
			{% endfor %}
		</div>
	</div>
</section>
<section class="repository">
	<div class="repository__table">
		{% for article in site.data.articles %}
			<article class="repository__table__card" data-tags="{{article.tags}}">
				<h3><a href="/assets/articles/{{article.file-name}}">{{article.title}}</a></h3>
				<p class="tags">Tags: {{article.tags}}</p>
				<p>{{article.abstract}}</p>
			</article>
		{% endfor %}
	</div>
</section>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(document).foundation();

		$('.filter__reveal').click(function(e) {
			$( this ).toggleClass('open');				
		});

		$('.tag__button').click( function(e){

			var tag = $( this ).data('tag');

			if ( tag === 'all'){
				$('.repository__table__card').fadeIn('slow');
			} else {
				$('.repository__table__card').each( function(){
					var tags = $( this ).data('tags');
					if ( tags.indexOf(tag) < 0 ){
						$(this).fadeOut('slow');
					} else if ( tags.indexOf(tag) >= 0 ){
						$(this).fadeIn('slow');
					}
				} );
			}

		} );

	});
</script>