//Import Foundation SASS
@import "../node_modules/foundation-sites/scss/foundation";
@import "../node_modules/motion-ui/motion-ui.scss";
@include foundation-everything;

@mixin card-style {
	border-left: rem-calc(8px) solid get-color(accentpeach);
	background-color: $white;
	border-radius: 0 3px 3px 0;
	font-size: rem-calc(20px);
	margin-bottom: rem-calc(60px);
	padding: 1.5rem .75rem;

	@include breakpoint(medium){
		padding: 1.5rem 2rem;
		font-size: rem-calc(18px);
	}

	&:last-of-type {
		margin-bottom: 0;
	}

	h3 {
		margin-bottom: rem-calc(40px);
	}
}

html {
	font-size: $global-font-size;
}

header{
	@include xy-grid-container(75rem, rem-calc(20));
	margin: rem-calc(20px 0 40px 15px);

	h1 {
		line-height: 0.95;
		margin-bottom: rem-calc(40px);
	}

	.organization {
		font-family: $header-font-family;
		font-style: italic;
		font-size: 1.25rem;
	}
}
nav {
	margin: 0 rem-calc(40px 40px);

	a {
		margin: 0;
		padding: rem-calc(15px 20px);
		border: 2px solid map-get($foundation-palette, primary);
		line-height: 4;

		@include breakpoint(medium){
			line-height: 1.5;
			margin: 0 rem-calc(20px);
		}

		&:first-of-type {
			margin-left: 0;
		}

		&:last-of-type {
			margin-right: 0;
		}
	}
}
.filter {
	@include xy-grid-container(40rem, rem-calc(20));

	margin-bottom:rem-calc(40px);

	@include breakpoint(large){
		@include xy-grid-container(65rem, rem-calc(20));
	}


	&__reveal {
		font-size: rem-calc(20px);
		cursor: pointer;
		margin-bottom: rem-calc(40px);
		&::before {
			content:"+ ";
		}
		&.open {
			&::before {
				content:"- ";
			}
		}
	}

	&__list {
		overflow: hidden;

		&__tags {
			display: none;
		}
	}

	button {
		@include button(false, get-color(accentblue), lighten(get-color(accentblue), 10%), $secondary-color, solid);

		&.active {
			background-color: lighten(get-color(accentblue), 10%);
		}
	}
}
.repository {
	@include xy-grid-container(40rem, rem-calc(20));

	@include breakpoint(large){
		@include xy-grid-container(65rem, rem-calc(20));
	}

	&__table {
		@include xy-grid(vertical, false);

		&__card {
			@include card-style;

			.tags {
				font-style: italic;
			}
		}
	}
}
.directory {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-content: flex-start;

	margin: 0 rem-calc(20px 40px);

	&__card {
		@include card-style;

		flex-basis: 100%;
		margin: 0 rem-calc(20px 40px);

		@include breakpoint(large){
			flex-basis: 31%
		}

		.contact-list {
			margin: 0;
			list-style-type: none;

			li {
				line-height: 1.5;
			}

			&__label {
				font-weight: 600;
			}
		}
	}
}